body{
    background-color: hsl(210, 46%, 95%);
}
main{
    width: 95%;
    margin: auto;
    margin-top: 20%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}
img{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    z-index: -1;
}
section{
    margin: auto;
    padding: 7%;
    width: 86%;
    padding-bottom: 4%;
    z-index: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-top: -14%;
    background-color: white;
}
h1{
    font-family: Manrope;
    font-size: 13px;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    line-height: 20px;
}
p{
    color: hsl(214, 17%, 51%);
    font-family: Manrope;
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
}
.user img{
    width: 30px;
    height: 30px;
    border-radius: 50%;    
}
.user{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 60%;
}
h2{
    font-family: Manrope;
    font-size: 11px;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}
h3{
    margin-top: -10%;
    color: hsl(214, 17%, 51%);
    font-family: Manrope;
    font-size: 10px;
    font-weight: 500;
}
.user-share{
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.share{
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
    width: 25px;
    height: 25px;
    margin-right: 2%;
}
.share3{
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
    width: 25px;
    height: 25px;
    margin-right: 2%;
    visibility: hidden;
    position: absolute;
}
.share:hover{
    cursor: pointer;
}
.share2:hover{
    cursor: pointer;
}
.share2{
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.share2 img{

    width: 15px;
    height: 15px;
    margin: auto;
    display: flex;
    margin-top: 13%;
}
.share img{
    margin: auto;
    display: flex;
    margin-top: 14%;
    width: 15px;
    height: 15px;
}
.social-media{
    display: flex;
    align-items: center;
    padding: 2%;
    width: 60%;
    gap: 15px;
}
.socialmedia2{
    display: flex;
    align-items: center;
    background-color: hsl(217, 19%, 35%);
    justify-content: space-evenly;
    padding: 1%;
    border-radius: 6px;
    height: 5%;
    bottom: 76px;
    right: 21.5%;
    gap: 8px;
    position: absolute;
}
.arrow {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid hsl(217, 19%, 35%);
    margin: 0 auto;
    position: absolute;
    bottom: -10px;
    rotate: 180deg;
}
.socialmedia2 img{
    width: 12px;
    height: 12px;
    z-index: 5;
    border-radius: 0%;
}
.socialmedia2 .txt-share{
    font-size: 9px;
}
footer{
    background-color: hsl(217, 19%, 35%);
    width: 95%;
    margin: auto;
    display: flex;
    z-index: 5;
    margin-top: -5%;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.social-media img{
    width: 15px;
    height: 15px;
    z-index: 5;
    border-radius: 0%;
}
.txt-share{
    text-transform: uppercase;
    font-family: Manrope;
    font-size: 12px;
    letter-spacing: 4px;
    font-weight: 500;
    color:hsl(212, 23%, 69%);
    transform: translateY(0);
}
.inv{
    position: absolute;
    visibility: hidden;
}
.social-media img:hover{
    cursor: pointer;
}
.switchcolor{
    background-color: hsl(210, 11%, 82%);
}
.share3:hover{
    cursor: pointer;
}
@media screen and (min-width: 1171px) {
    body{
        width:40%;
        margin: auto;
        overflow: hidden;
    }
    main{
        margin: auto;
        transform: translateX(10%);
        margin-top: 25%;
        flex-direction: row;
    }
    section{
        margin-top: 0;
        min-height: 245px;
        padding: 3%;
        width: 40%;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 12px;
        margin-left: -10%;
    }
    main img{
        width: 40%;
        height: 50%px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 12px;
    }
    h1{
        font-size: 20px;
    }
    p{
        font-size: 16px;
    }
    .user-share{
        margin-top: 15%;
    }
    .share{
        visibility: hidden;
        position: absolute;
    }
    .share3{
        visibility: visible;
        position: relative;
    }
    .share3 img{
        margin: auto;
        display: flex;
        margin-top: 14%;
        width: 15px;
        height: 15px;
    }
    footer{
        position: absolute;
        visibility: hidden;
    }
    .user{
        position: relative;
        visibility: visible;
    }
}
@media screen and (max-width: 1171px) {
    h1{
        transform: translateY(-50%);
    }
    
    p{
        transform: translateY(-50%);
    }
    .socialmedia2{
        visibility: hidden;
        position: absolute;
    }
}
